<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <!--link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/public.css"/>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/time/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/bootstrap/js/time/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">用户中心</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">刷新</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ users.u_name }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="">官网</a></dd>
                    <dd><a href="">修改个人信息</a></dd>
                    <dd><a href="">修改个人密码</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 侧边栏 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="left-nav">
                <li class="layui-nav-item">
                    <a href="/personalCenter/"><i class="layui-icon">&#xe612;</i>我的赛事</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/self/"><i class="layui-icon">&#xe612;</i>修改个人资料</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/changePassword/"><i class="layui-icon">&#xe612;</i>修改密码</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="layui-body">
        <!-- 顶部切换卡 -->
        <div class="layui-tab layui-tab-brief" lay-filter="top-tab" lay-allowClose="true" style="margin: 0;">
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content" style="padding: 0;">
                <div class="layui-progress" lay-filter="progress">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
            </div>
        </div>
        <div>
        <form action="{% url 'changeSelf' %}" method="POST" enctype="multipart/form-data" class="form-inline">
            {% csrf_token %}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="profile-student">
                    <div class="null"></div>
                    <div class="for-org">个人基本信息</div>
                    <div class="col-xs-2"></div>
                    <div class="form-inline stu">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="student-name" style="margin-left: 55px">姓名</label>
                                <input type="text" class="form-control" id="student-name" placeholder="Name"
                                       name="s_name" value="{{ stu.s_name }}">
                            </div>

                            <div class="form-group">
                                <label style="margin-left: 55px">性别</label>
                                {% if stu.s_sex == '1' %}
                                <label class="radio-inline">
                                    <input type="radio" name="s_sex" id="student-nan" value="1" checked> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="s_sex" id="student-nv" value="0"> 女
                                </label>
                                {% else %}
                                <label class="radio-inline">
                                    <input type="radio" name="s_sex" id="student-nan" value="1" > 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="s_sex" id="student-nv" value="0" checked> 女
                                </label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="student-card">身份证件类型</label>
                                <select class="form-control" id="student-card" name="s_certification_type">
                                    <option value="1">中华人民共和国居民身份证</option>
                                    <option value="2">军人证件</option>
                                    <option value="3">港澳台身份证件</option>
                                    <option value="4">华侨身份证</option>
                                    <option value="5">外籍护照</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="student-InputID">身份证件号码</label>
                                <input type="text" class="form-control" id="student-InputID" placeholder="ID number"
                                       name="s_id_number" value="{{ stu.s_id_number }}">
                            </div>

                            <div class="form-group">
                                <label for="student-date" style="margin-left: 27px">出生日期</label>
                                <input type="text" id="student-date" name="s_birthday"placeholder="Birthday"
                                       class="form-control" value="{{ stu.s_birthday }}">
                            </div>


                            <div class="form-group">
                                <label for="student-type" style="margin-left: 27px">政治面貌</label>
                                {% if stu.s_politics_status == '1' %}
                                <select class="form-control" id="student-type" name="s_politics_status">
                                    <option value="1" selected = "selected">中共党员</option>
                                    <option value="2">中共预备党员</option>
                                    <option value="3">共青团员</option>
                                    <option value="4">群众</option>
                                </select>
                                {% elif stu.s_politics_status == '2' %}
                                <select class="form-control" id="student-type" name="s_politics_status">
                                    <option value="1">中共党员</option>
                                    <option value="2" selected = "selected">中共预备党员</option>
                                    <option value="3">共青团员</option>
                                    <option value="4">群众</option>
                                </select>
                                {% elif stu.s_politics_status == '3' %}
                                <select class="form-control" id="student-type" name="s_politics_status">
                                    <option value="1">中共党员</option>
                                    <option value="2">中共预备党员</option>
                                    <option value="3" selected = "selected">共青团员</option>
                                    <option value="4">群众</option>
                                </select>
                                {% elif stu.s_politics_status == '4' %}
                                <select class="form-control" id="student-type" name="s_politics_status">
                                    <option value="1">中共党员</option>
                                    <option value="2">中共预备党员</option>
                                    <option value="3" selected = "selected">共青团员</option>
                                    <option value="4">群众</option>
                                </select>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="student-email" style="margin-left: 27px">电子邮箱</label>
                                <input type="email" class="form-control" id="student-email" placeholder="E-mail"
                                       name="s_mail" value="{{ stu.s_mail }}">
                            </div>
                            <div class="form-group">
                                <label for="student-phone" style="margin-left: 27px">电话号码</label>
                                <input type="text" class="form-control" id="student-phone" maxlength="11" minlength="11"
                                       placeholder="Phone" name="s_phone" value="{{ stu.s_phone }}" >
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <!--div class="form-group">
                                <label for="student-img-input" style="margin-left: 60px">照片</label>
                                <img src="../static/images/none.png" alt="#" class="img-rounded reading">
                                <input type="file" id="student-img-input" accept='image/*' name="s_picture" value="stu.s_picture">
                            </div-->
                            <div class="form-group">
                            <label for="student-img-input" style="margin-left: 60px">照片</label>
                            <img src="../static/images/none.png" alt="#" class="img-rounded reading">
                            <input type="file" id="student-img-input" accept='image/*' name="s_picture" value="{{ stu.s_picture }}" >
                            </div>
                            <div class="form-group">
                                <label for="student-college" style="margin-left: 55px">学院</label>
                                <input type="text" class="form-control" id="student-college" placeholder="College"
                                       name="s_college" value="{{ stu.s_college }}">
                            </div>
                            <div class="form-group">
                                <label for="student-grade" style="margin-left: 55px">年级</label>
                                <input type="text" class="form-control" id="student-grade" placeholder="Grade"
                                       name="s_grade" value="{{ stu.s_grade }}">
                            </div>
                            <div class="form-group">
                                <label for="student-class" style="margin-left: 55px">班级</label>
                                <input type="text" class="form-control" id="student-class" placeholder="Class"
                                       name="s_class" value="{{ stu.s_class }}">
                            </div>
                            <div class="form-group">
                                <label for="student-id" style="margin-left: 55px">学号</label>
                                <input type="text" class="form-control" id="student-id" placeholder="Student id"
                                       name="s_number" value="{{ stu.s_number }}">
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <button type="submit" class="btn btn-primary pri-btn" id="stu-btn">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>