<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <!--link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"-->

    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/public.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"-->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/time/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/bootstrap/js/time/bootstrap-datetimepicker.zh-CN.js"></script>
    <style>
        .arange{
            margin-top: 20px;
            margin-left: 20px;
        }
        .tu {
            height: 80px;
            width: 80px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">用户中心</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">刷新</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ users.u_name }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="">官网</a></dd>
                    <dd><a href="">修改个人信息</a></dd>
                    <dd><a href="">修改个人密码</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 侧边栏 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div class="user_img">
                <img src="../static/upfile/logo.png" class="tu"/>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="left-nav">
                <li class="layui-nav-item">
                    <a href="/personalCenter/"><i class="layui-icon">&#xe612;</i>我的赛事</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/self/"><i class="layui-icon">&#xe612;</i>修改个人资料</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/changePassword/"><i class="layui-icon">&#xe612;</i>修改密码</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="layui-body">
        <!-- 顶部切换卡 -->
        <div class="layui-tab layui-tab-brief" lay-filter="top-tab" lay-allowClose="true" style="margin: 0;">
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content" style="padding: 0;">
                <div class="layui-progress" lay-filter="progress">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
            </div>
        </div>
        <div>
            <form action="{% url 'changePassword' %}" method="POST" enctype="multipart/form-data" class="form-inline arange">
                {% csrf_token %}
                <h3>修改密码</h3>
                <table class="form-group">
                    <tr>
                        <td>
                            <label for="exampleInputEmail1">旧密码：</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="oldPassword">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="exampleInputPassword1">新密码：</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="newPassword1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="exampleInputPassword1">确认密码：</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="newPassword2">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary pri-btn" id="stu-btn">保存</button>
                        </td>
                    </tr>
                </table>
            </form>
        <!--form action="{% url 'changePassword' %}" method="POST" enctype="multipart/form-data" class="form-inline">
            {% csrf_token %}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="profile-student">
                    <div class="null"></div>
                    <div class="for-org">修改密码</div>
                    <div class="col-xs-2"></div>
                    <div>
                        <table class="tab">
                            <tr>
                                <td>原密码：</td>
                                <td><input type="password" name="oldPassword"></td>
                            </tr>
                            <tr>
                                <td>新密码：</td>
                                <td><input type="password" name="newPassword1"></td>
                            </tr>
                            <tr>
                                <td>确认密码：</td>
                                <td><input type="password" name="newPassword2"></td>
                            </tr>
                        </table>
                    </div>
                    <!--div class="form-inline stu">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="student-name" style="margin-left: 55px">原密码</label>
                                <input type="password" class="form-control" id="student-name"
                                       name="oldPassword" >
                            </div>
                            <div class="form-group">
                                <label for="student-name" style="margin-left: 55px">新密码</label>
                                <input type="password" class="form-control" id="student-name"
                                       name="newPassword1" >
                            </div>
                            <div class="form-group">
                                <label for="student-name" style="margin-left: 55px">确认密码</label>
                                <input type="password" class="form-control" id="student-name"
                                       name="newPassword2" >
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
            <div class="col-xs-10">
                            <button type="submit" class="btn btn-primary pri-btn" id="stu-btn">保存</button>
                        </div>
        </form-->
        </div>
    </div>
</div>
</body>
</html>