<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Author" content="Lee">
    <meta name="Keywords" content="后台模板">
    <title></title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/public.css"/>
    <script src="../../static/layui/layui.js"></script>
</head>
<body>
<div class="box_sizing">
    <div class="layui-form">
        搜索新闻：
        <div class="layui-inline inline_margin">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <div class="layui-inline inline_margin">
            <div class="layui-input-inline">
                <select name="modules" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="1">layer</option>
                    <option value="2">form</option>
                </select>
            </div>
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
    <table class="layui-hide" id="LAY_table_user" lay-filter="news"></table>
</div>

</body>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe615;</i>查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script>
    layui.use(['table', 'jquery', 'element'], function () {
        let table = layui.table;
        let $ = layui.jquery;
        table.render({
            elem: '#LAY_table_user'
            , url: '{% url 'newsList' %}'
            , cellMinWidth: 80
            , cols: [[
                {field: 'id', title: 'ID', fixed: true, width: 80}
                , {field: 'title', title: '文章标题', fixed: true}
                , {field: 'type', title: '类型', width: 180}
                , {field: 'author', title: '作者', width: 120}
                , {field: 'time', title: '发布时间', width: 180}
                , {fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barDemo'}
            ]]
            , id: 'testReload'
            , page: true
        })
        table.on('tool(news)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;
            if (layEvent === 'detail') { //查看
                window.open('{% url 'indexNews' %}' + data.id)
            } else if (layEvent === 'del') { //删除
                $.getJSON('{% url 'delNews' %}', {'id': data.id}, (args) => {
                    if (args.code === 1) {
                        layer.msg('删除成功！');
                        obj.del();
                    } else {
                        layer.msg('信息不存在或已删除！');
                    }
                })
            } else if (layEvent === 'edit') { //编辑
                {#window.open('{% url 'updateNews' %}' + data.id)#}
                window.open('../updateNews/' + data.id)
            }
        });
        let active = {
            reload: function () {
                let demoReload = $('#demoReload');
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: demoReload.val()
                        }
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            let type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>
