<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>西安理工大学竞赛管理系统-新闻详情</title>
    <link rel="stylesheet" href="../.">
    <link rel="shortcut icon" href="../../static/favicon.ico">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/detail.css">
    <link rel="stylesheet" href="../../static/summernote-0.8.18-dist/summernote-lite.min.css">
    <script src="../../static/js/jquery-3.6.0.min.js"></script>
</head>
<body>


<div class="layui-container">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md12">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="main">
                        <div class="title">
                            <p>{{ news.title }}</p>
                            <div class="layui-row stat">
                                <div class="layui-col-md3 layui-col-xs12">发布时间：<em>{{ news.time | date:"Y-m-d H:i"}}</em></div>
                                <div class="layui-col-md2 layui-col-xs6">分类：{{ news.type }}</div>
                                <div class="layui-col-md2 layui-col-xs6">作者：{{ news.author }}</div>

                            </div>
                        </div>


                        <div class="content" id="news-context">
                            {{ news.context }}
                        </div>
                        <div class="copyright">
                            <p>转载声明：转载请注明来源：西安理工大学，谢谢！</p>
                        </div>
                        <div class="Label">
                            <i class="layui-icon layui-icon-note"></i>
                            <span>{{ news.type }}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12 margin20"></div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
								<span>
									相关推荐
								</span>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                {% for littleData in data %}
                                    <div class="layui-col-md4">
                                        <div class="layui-card">
                                            <a href='{% url 'indexNews' %}{{ littleData.id }}'  class="layui-card-body recommend">
                                                <p>{{ littleData.title }}</p>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 尾部 -->
<div class="footer"></div>
<footer class="layui-bg-cyan">
    <div class="layui-container">
        <div class="layui-row">
            <p>本站部分内容来源于网络，若侵犯到您的利益，请联系站长删除！谢谢！Powered By <a href="https://gitee.com/XzcGroup/XzcBlogTemplate"
                                                             target="_blank" title="XzcBlogTemplate">XzcBlogTemplate</a>
            </p>
        </div>
    </div>
</footer>
</body>
<script src="../../static/layui/layui.all.js"></script>
<script>
    $(document).ready(() => {
        document.getElementById('news-context').innerHTML = document.getElementById('news-context').innerText;
    })

</script>
</html>