.underline {
    border-bottom: 1px solid #F2F2F2;
}

.head {
    padding: 10px 0 10px 0;
}

.padding {
    padding-top: 8px;
}

.put-img {
    width: 300px;
    height: 70px;
    float: left;
    margin-left: 100px;
    margin-right: 300px;
    /*background-color: green;*/
}
.put-img img {
    width: 100%;
    height: 100%;
}
.head-right {
    padding-right: 30px;
    /*background-color: pink;*/
    height: 80px;

}
.head-right li {
    margin-top: 10px;
}
.head-button {
    margin-top: 15px;
}
.back-color {
    background-color: #F3F6FB;
}
.deep-back-color {
    background-color: #337ab7;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    /*line-height: 10px;*/
    padding: 30px 0 0 30px;
}
.deep-back-color:hover {
    background-color: #286090;
}
.logo {
    padding-top: 20px;
    font-size: 110px;
    color: #ffffff;

}
.small-font {
    font-size: 25px;
    color: #337AB7;
    padding-left: 35px;
}
a:focus {
  text-decoration: none;
}
.padding-30 {
    padding-top: 30px;
}
.comp-update {
    margin: 30px 0;
    font-size: 32px;
}

.comp-son {
    box-shadow: #e0dada -2px 0 3px -1px;
}
.img-content {
    width: 350px;
    height: 180px;
}
.title {
    margin-top: 20px;
    color: #0f0f0f;
    padding: 0 10px;
    font-size: 16px;
    text-align: left;
}
.font, .date {
    font-size: 14px;
    color: #999999;
    margin: 20px 0;
    padding: 0 10px;
    text-align: left;
}

.date {
    padding: 0 20px;
    margin-top: 0;
}
.btn-cor button{
    margin: 35px 0;
    width: 150px;
    height: 50px;
    line-height: 40px;
}
a:hover {

}
.blue-btn {
}
.event-img {
    width: 235px;
    height: 110px;
    margin-bottom: 40px;
}
.event-img:hover {
    transform: scale(1.07);
    transition: all 0.3s;
}
.bottom-all {
    padding: 15px 0;
    background-color: #d2d2d2;
}
.login-state {
    margin-left: 10px;
}