.background {
    background-color: #578AD9;
}
.white-font {
    color: #ffffff;
    margin-top: 90px;
}
.white-font:hover {
    color: #ffffff;
}
.plus {
    margin-top: 70px;
    font-size: 28px;
    font-weight: 700;
}
#mar {
    background-color: #578AD9;
}
.tell-font {
    background-color: #ffffff;
    color: #A94442;
    padding-top: 5px;
    height: 60px;
    width: 1138px;
    line-height: 25px;
    margin-left: 185px;
    padding-left: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.nav-tabs {
    margin-left: 200px;
}
.wid-mid {
    width: 378px;
    color: #ffffff;
}
.tab-content {
    margin: 0 195px;
}
.null {
    height: 40px;
}
.for-org {
    color: rgb(242,152,56);
    font-size: 25px;
    padding-left: 450px;
    margin-bottom: 30px;
}
.role-type {
    width: 560px;
    float: left;
}
.brod {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 200px;
}
.brod-green {
    border: #5CB85C 3px solid;
    background-color: #f2fffa;
}
.brod-blue {
    border: #337AB7 3px solid;
    background-color: #F1FBFF;
}
.glyphicon {
    font-size: 80px;
    margin: 30px 0 0 32px;
}

.font-green {
    color: #5CB85C;
}
.font-blue {
    color: #337AB7;
}
#green-btn {
    margin-left: 200px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
}
#blue-btn {
    margin-left: 200px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
}

#block {
    display: block;
}
.form-group {
    padding-bottom: 25px;
}
.form-group label {
    margin-right: 15px;
}
.img-rounded {
    width: 130px;
    height: 155px;
}
#student-img-input {
    margin-top: 20px;
    margin-left: 105px;
}
.pri-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}
.fir {
    margin-left: 400px;
}
.col-xs-10 {
    margin-bottom: 30px;
}
#teacher-img-input {
    margin-top: 20px;
    margin-left: 105px;
}
.input-group {
    margin-bottom: 25px;
}
.sec {
    margin-left: 330px;
}

.temp {
    background-color: pink;
}
.bottom-all {
    padding: 15px 0;
    /*height: 30px;*/
    margin-top: 600px;
}
